[submodule "3rd/googletest"]
	path = 3rd/googletest
	url = https://github.com/google/googletest
[submodule "3rd/hcs-mem"]
	path = 3rd/hcs-mem
	url = https://gitlab.com/headcode.space/memtool.git
[submodule "3rd/hcs-benchmark"]
	path = 3rd/hcs-benchmark
	url = https://gitlab.com/headcode.space/benchmark.git
[submodule "3rd/libtomcrypt"]
	path = 3rd/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "3rd/libtommath"]
	path = 3rd/libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "cmake"]
	path = cmake
	url = https://gitlab.com/headcode.space/cmake.git
[submodule "3rd/hcs-logger"]
	path = 3rd/hcs-logger
	url = https://gitlab.com/headcode.space/logger.git
